
@media (min-height: 900px) {
  .card{
    height:57vh;
  }
}

@media (max-height: 900px) {
  .card{
    height:65vh;
  }
}

@media (min-width: 991px) {
  .card{
    margin-top: 10vh;
    overflow: scroll;
  }
}

@media (max-width: 991px) {
  .card{
    margin-top:0%;
    height: 98.5vh;
    
  }
}

body {
  background-color: #4F6BFF;
  /*background: linear-gradient(#4F6BFF, white);*/
}

input {
  margin-bottom: 1vh;
}

label {
  color: #4D4D4D;
}

.simple-linear {
    background: linear-gradient(#4F6BFF, white);
    height: 83vh;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

input:invalid {
    background-color: pink;
  }
