.blue_color{
    color:#4F6BFF;
}

.blue_background{
    background-color: #4F6BFF;
}

/*Side menu*/
.menu_container{
    max-height: 100vh;
    position: sticky;
    top: 0px;

    border-bottom: 1px solid black;
    overflow-y: scroll;
}

.menu_controller{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu_controller .btn:hover {
    background-color: #3854e0;
}

.menu_element{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu_element p{
    color: white;
    font-size: 14px;
    font-weight: bold;
    transition: font-size .5s;
}

.menu_element img{
    transition: height .5s, width .75s;
}

.menu_element .btn:hover {
    background-color: #3854e0;
    transition: background-color 1s;
}

.menu_element .btn:hover p{
    display: inline;
    font-size: 16px;
    text-decoration: underline;
    transition: font-size .5s;
}

.menu_element .btn:hover img{
    width: 56px;
    height: 56px;
    transition: height .5s, width .75s;
}

.offcanvas-container{
    width: 100%;
}

/*User bar*/
.user_bar{
    max-height: 66px;
    min-height: 66px;
    border-bottom: 2px solid #4F6BFF;
    position: sticky;
    top: 0px;
}

.dropdown-toggle:hover{
    opacity: .7;
    cursor: pointer;
    transition: opacity 1s;
}

/*Page container*/
.page_content{
    min-height: calc(100vh - 66px);
    overflow-y: scroll;
}

/*A scroll utility*/
::-webkit-scrollbar {
    display: none;
}