<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container ">
        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-top: 3%;">
            <div class="card-body">
                <h3 style="margin-bottom: 4%; margin-top: 2%; margin-left: 1%;">Registro de usuario</h5>
                <!-- ROW 1 FOR FIRST NAME, APELLIDO PATERNO Y MATERNO-->
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3 container">
                            <label for="first_name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="first_name" placeholder="">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 container">
                            <label for="last_name" class="form-label">Apellido paterno</label>
                            <input type="text" class="form-control" id="last_name" placeholder="">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 container">
                            <label for="second_last_name" class="form-label">Apellido materno</label>
                            <input type="text" class="form-control" id="second_last_name" placeholder="">
                        </div>
                    </div>
                </div>
                <!-- END OF ROW 1-->

                <!-- ROW 2 FOR PAYROLL NUMBER, PASSWORD AND PHONE NUMBER-->
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3 container">
                            <label for="payroll_number" class="form-label">No. Nomina</label>
                            <input type="number" class="form-control" id="payroll_number" placeholder="">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 container">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 container">
                            <label for="telephone_number" class="form-label">Numero de telefono</label>
                            <input type="number" class="form-control" id="telephone_number" placeholder="">
                        </div>
                    </div>
                </div>
                <!-- END OF ROW 2-->

                <!-- ROW 3 FOR POSITION, EMAIL AND AREA-->
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3 container">
                            <label for="position" class="form-label">Puesto</label>
                            <input type="text" class="form-control" id="position" placeholder="">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 container">
                            <label for="email" class="form-label">Correo electronico</label>
                            <input type="email" class="form-control" id="email" placeholder="">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 container">
                            <label for="area" class="form-label">Area</label>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" style="width: 100%;">
                                    Seleccione un area...
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Por definir...</a></li>
                                    <li><a class="dropdown-item" href="#">Por definir...</a></li>
                                    <li><a class="dropdown-item" href="#">Por definir...</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF ROW 3-->

                <!-- ROW 4 USER TYPE...-->
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3 container">
                            <label for="user_type" class="form-label">Tipo de usuario</label>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" style="width: 100%;">
                                    Seleccione un tipo de usuario...
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Administrador</a></li>
                                    <li><a class="dropdown-item" href="#">Personal</a></li>
                                    <li><a class="dropdown-item" href="#">Capacitador</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF ROW 4-->

                <!-- ROW 5 ONLY FOR CANCEL AND REGISTER BUTTONS-->
                <div class="row d-flex flex-column">
                    <div class="col-12" style="width: 100%; margin-bottom: 2%;">
                        <div class="container" style="margin-left:76%; margin-top: 5%;">
                            <button type="button" class="btn btn-danger" style="width: 10%; margin-right: 2%; ">Cancelar</button>
                            <button type="button" class="btn btn-primary" style="width: 10%;">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>