{% extends 'menu.html' %}

    {% block title %}Agregar usuario{% endblock  %}
    {% block css_links %}
        <link rel="stylesheet" href="../static/CSS/general.css"> 
        <link rel="preconnect" href="https://fonts.googleapis.com/" >
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}


    {% block content%}
    <div class="p-0 m-0">
        <div class="card shadow p-3  bg-body-tertiary rounded">
            <div class="card-body">
                <h3 style="margin-bottom: 4%; margin-top: 2%; margin-left: 1%;">R E G I S T R O  D E  U S U A R I O</h5>
                <!-- ROW 1 FOR FIRST NAME, APELLIDO PATERNO Y MATERNO-->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="mb-3 container">
                            <label for="input_first_name" class="form-label">Nombre</label>
                            <input maxlength="25" type="text" class="form-control" id="input_first_name" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3 container">
                            <label for="input_mid_name" class="form-label">Primer Apelido</label>
                            <input maxlength="25" type="text" class="form-control" id="input_mid_name" placeholder="Primer apellido" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3 container">
                            <label for="input_last_name" class="form-label">Segundo Apellido</label>
                            <input maxlength="25" type="text" class="form-control" id="input_last_name" placeholder="Segundo apellido" required>
                        </div>
                    </div>
                </div>
                <!-- END OF ROW 1-->

                <!-- ROW 2 FOR PAYROLL NUMBER, PASSWORD AND PHONE NUMBER-->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="mb-3 container">
                            <label for="input_payroll_number" class="form-label">No. nómina</label>
                            <input maxlength="11" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==11) return false;" type="number" class="form-control" id="input_payroll_number" placeholder="No. nómina" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3 container">
                            <label for="input_password" class="form-label">Contraseña</label>
                            <input maxlength="10" type="password" class="form-control" id="input_password" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3 container">
                            <label for="input_telephone_number" class="form-label">Número de teléfono</label>
                            <input maxlength="10" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;" type="number" class="form-control" id="input_telephone_number" placeholder="Número de teléfono" required>
                        </div>
                    </div>
                </div>
                <!-- END OF ROW 2-->

                <!-- ROW 3 FOR POSITION, EMAIL AND AREA-->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="mb-3 container">
                            <label for="input_position" class="form-label">Puesto</label>
                            <input maxlength="25" type="text" class="form-control" id="input_position" placeholder="Puesto" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3 container">
                            <label for="input_email" class="form-label">Correo electrónico</label>
                            <input maxlength="40" type="email" class="form-control" id="input_email" placeholder="Correo electrónico" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3 container">
                            <label for="select_area" class="form-label">Área</label>
                            <select class="form-select" id="select_area" required>
                                {% for area in areas%}
                                <option value="a-{{area.id}}">{{area.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- END OF ROW 3-->
                    <!-- ROW 4 USER TYPE...-->
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="mb-3 container">
                            <label for="select_tipo_usuario" class="form-label">Tipo de usuario</label>
                            <select class="form-select" id="select_tipo_usuario" required>
                                <option value="2" selected>Personal</option>
                                <option value="3">Jefe de departamento</option>
                                <option value="1">Administrador</option>
                                <option value="4">Capacitador</option>
                            </select>
                        </div>
                    </div>
                    <!-- END OF ROW 4-->
                </div>
                <!-- ROW 5 ONLY FOR CANCEL AND REGISTER BUTTONS-->
                <div class="row d-flex flex-column">
                    <div class="col-12">
                        <div class="container-fluid" style="display: flex; justify-content: right;">
                            <button id="button_cancelar" type="button" class="btn btn-danger">Cancelar</button>
                            <button id="button_registrar" onClick="add_user()" type="button" class="btn btn-primary" style="margin-left: 2%;">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
        <script type="text/javascript">
            
            function add_user(){
                var first_name = $("#input_first_name").val();
                var last_name = $("#input_mid_name").val() + " " +$("#input_last_name").val();
                var payroll_number = $("#input_payroll_number").val();
                var password = $("#input_password").val();
                var phone_number = $("#input_telephone_number").val();
                var position = $("#input_position").val();
                var email = $("#input_email").val();
                var area = $("#select_area").val().split("-")[1];
                var type = $("#select_tipo_usuario").val();

                $.ajax({
                    url: "../sca/add_user",
                    data: {
                        "first_name": first_name,
                        "last_name": last_name,
                        "payroll_number": payroll_number,
                        "password": password,
                        "phone_number": phone_number,
                        "position": position,
                        "email": email,
                        "area": area,
                        "type": type
                    },
                    type: "POST",
                    success: function success(){
                        //document.location.href = '../sca/show_user'
                    }
                })
            } 
        </script>
    {% endblock %}