{% extends 'menu.html' %}

{% block title %}Detección de Necesidades de Capacitación (DNC){% endblock %}
{% block css_links %}
<link rel="stylesheet" href="../static/CSS/general.css"> 
<style>
    label{
        margin-bottom: 1%;
    }
    input{
        margin-left: 1.5%;
    }
    /*textarea{
        margin: 1%;
    }*/
    .textj{
        text-align: justify;
    }
    .sub{
        font-weight: bold;
    }
</style>
{% endblock %}


{% block content%}
<div class="p0 m-0">
    <div class="card shadow p-3  bg-body-tertiary rounded">
        <div class="card-body"> <!---->
            <h3 style="margin-bottom: 4%; margin-top: 2%; margin-left: 1%;"><strong>DETECCIÓN DE NECESIDADES DE
                    CAPACITACIÓN</strong></h5>
                <div class="row">
                    <p class="textj"><strong>ALERTA: si la pantalla es cerrada no se guardará el avance.</strong></p>
                    <p class="textj">Sea tan amable de proporcionar de manera completa los datos que se contemplan
                        en el presente formato de detección de necesidades de capacitación, con base en
                        las necesidades propias y del personal a su cargo.</p>
                </div>

                <form action="">
                    <!-- I. HORARIO DE CAPACITACIÓN for="check_first_question_1"-->
                    <div class="row mb-2 questions"> <!-- question[0] -->
                        <p> <strong>I. HORARIO QUE SUGIERE LA CAPACITACIÓN </strong></p>
                        <!--<div >-->
                        <label>
                            <input type="checkbox" id="check_first_question_1" value="8:00-9:00" name="first_question" /> 8:00 -
                            9:00 hrs.
                        </label> <br>
                        <label>
                            <input type="checkbox" id="check_first_question_2" value="9:00-10:00" name="first_question" /> 9:00 -
                            10:00 hrs.
                        </label> <br>
                        <label>
                            <input type="checkbox" id="check_first_question_3" value="10:00-11:00" name="first_question" /> 10:00
                            -
                            11:00 hrs.
                        </label> <br>
                        <label>
                            <input type="checkbox" id="check_first_question_4" value="11:00-12:00" name="first_question" /> 11:00
                            -
                            12:00 hrs.
                        </label><br>
                        <label>
                            <input type="checkbox" id="check_first_question_5" value="12:00-13:00" name="first_question" /> 12:00
                            -
                            13:00 hrs.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_first_question_6" value="13:00-14:00" name="first_question" /> 13:00
                            -
                            14:00 hrs.
                        </label><br>
                        <label>
                            <input type="checkbox" id="check_first_question_7" value="14:00-15:00" name="first_question" /> 14:00
                            -
                            15:00 hrs.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_first_question_8" value="15:00-16:00" name="first_question" /> 15:00
                            -
                            16:00 hrs.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_first_question_9" value="16:00-17:00" name="first_question" /> 16:00
                            -
                            17:00 hrs.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_first_question_10" value="17:00-18:00" name="first_question" />
                            17:00 -
                            18:00 hrs.
                        </label><br />

                    </div>
                    <hr>


                    <!--II. CAPACITACIÓN ORIENTADA A CONOCIMIENTOS-->
                    <div class="row mb-2">
                        <p> <strong>II. CAPACITACIÓN ORIENTADA A CONOCIMIENTOS</strong></p>
                        <p class="textj">Marque las áreas o temas de capacitación que podrían mejorar el logro de sus
                            funciones y las
                            del personal a su cargo.</p>
                    </div>
                    <hr>
                    <div class="row mb-2 questions"> <!-- questions[1] -->
                        <p class="sub">A. DESARROLLO HUMANO</p> <!--DIMENSIÓN DESARROLLO HUMANO-->
                        <p class="textj">Esta dimensión tiene como finalidad potencializar las habilidades y actitudes
                            del personal
                            para
                            su acertada integración, convivencia, permanencia y desarrollo dentro de la institución.</p>

                        <label>
                            <input type="checkbox" id="check_second_question_1" value="Cultura organizacional" name="second_question" />
                            Cultura
                            organizacional.
                        </label>
                        <label>
                            <input type="checkbox" id="check_second_question_2" value="Motivación" name="second_question" />
                            Motivación.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_second_question_3" value="Liderazgo" name="second_question" />
                            Liderazgo.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_second_question_4" value="Cultura emprendedora" name="second_question" />
                            Cultura
                            emprendedora.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_second_question_5" value="Valores" name="second_question" />
                            Valores.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_second_question_6" value="Trabajo en equipo" name="second_question" />
                            Trabajo en
                            equipo.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_second_question_7" value="Habilidades del pensamiento" name="second_question" />
                            Habilidades del
                            pensamiento.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_second_question_8" value="Creatividad" name="second_question" />
                            Creatividad.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_second_question_9" value="Desarrollo personal" name="second_question" />
                            Desarrollo
                            personal.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_second_question_10" value="Resolución de conflictos" name="second_question" />
                            Resolución de
                            conflictos.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_second_question_11" value="Otro" name="second_question" />
                            Otro.
                        </label><br />
                        <div class="container">
                            <label for="second_others" class="mb-3">En caso de elegir otro, ¿Cuál otro tema? </label>
                            <textarea class="form-control" id="second_others" name="second_others" rows="4" cols="50"
                                maxlength="250" placeholder="Escriba aquí el otro tema... "></textarea>
                        </div>
                    </div>
                    <p></p>
                    <div class="row mb-2 questions"> <!-- questions[2] -->
                        <p>ÉTICA</p> <!-- ÉTICA-->
                        <label>
                            <input type="checkbox" id="check_third_question_1" value="Teología" name="third_question" />
                            Teología.
                        </label>
                        <label>
                            <input type="checkbox" id="check_third_question_2" value="Ética comercial" name="third_question" />
                            Ética comercial.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_third_question_3" value="Ética profesional" name="third_question" />
                            Ética profesional.
                        </label><br />
                    </div>
                    <p></p>
                    <div class="row mb-2 questions"> <!-- questions[3] -->
                        <p>IDIOMAS</p> <!-- IDIOMAS-->
                        <label>
                            <input type="checkbox" id="check_fourth_question_1" value="Inglés" name="fourth_question" />
                            Inglés.
                        </label>
                        <label>
                            <input type="checkbox" id="check_fourth_question_2" value="Francés" name="fourth_question" />
                            Francés.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_fourth_question_3" value="Chino mandarín" name="fourth_question" />
                            Chino Mandarín.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_fourth_question_4" value="Portugués" name="fourth_question" />
                            Portugués.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_fourth_question_5" value="Italiano" name="fourth_question" />
                            Italiano.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_fourth_question_6" value="Otro" name="fourth_question" />
                            Otro.
                        </label><br />
                        <div class="container">
                            <label for="fourth_others" class="mb-3">En caso de elegir otro, ¿Cuál otro idioma? </label>
                            <textarea class="form-control" id="fourth_others" name="fourth_others" rows="4" cols="50"
                                maxlength="250" placeholder="Escriba aquí el otro idioma..."></textarea>
                        </div>
                        <p></p>
                    </div>
                    <div class="row mb-2 questions"> <!-- questions[4] -->
                        
                        <p>COMPUTACIÓN</p> <!-- COMPUTACIÓN-->
                        <label>
                            <input type="checkbox" id="check_fifth_question_1" value="CDL Start (Word, Excel, Comunicación)" name="fifth_question" />
                            CDL Start (Word, Excel, Comunicación).
                        </label>
                        <label>
                            <input type="checkbox" id="check_fifth_question_2" value="ICDL Full (Word, Excel, Comunicación, Windows, Power Point, Base de Datos)" name="fifth_question" />
                            ICDL Full (Word, Excel, Comunicación, Windows, Power Point, Base de Datos).
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_fifth_question_3" value="Word" name="fifth_question" />
                            Word.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_fifth_question_4" value="Excel" name="fifth_question" />
                            Excel.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_fifth_question_5" value="Power point" name="fifth_question" />
                            Power Point.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_fifth_question_6" value="Correo electrónico" name="fifth_question" />
                            Correo electrónico.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_fifth_question_7" value="Internet" name="fifth_question" />
                            Internet.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_fifth_question_8" value="Macros" name="fifth_question" />
                            Macros.
                        </label><br />
                        <label>
                            <input type="checkbox" id="check_fifth_question_9" value="Otro" name="fifth_question" />
                            Otro.
                        </label><br />

                        <div class="container">
                            <label for="fifth_others" class="mb-3">En caso de elegir otro, ¿Cuál otro curso? </label>
                            <textarea class="form-control" id="fifth_others" name="fifth_others" rows="4" cols="50"
                                maxlength="250" placeholder="Escriba aquí el otro curso..."></textarea>
                        </div>
                    </div>
                    <hr>

                    <div class="row mb-2 questions"> <!-- DIMENSIÓN DESARROLLO ACADÉMICO-ADMINISTRATIVO --> <!-- questions[5] -->
                        <p class="sub">B. DESARROLLO ACADÉMICO-ADMINISTRATIVO</p>
                        <p class="textj">El objetivo de esta dimensión es profesionalizar al personal a través de
                            diferentes
                            espacios y programas acordes a las necesidades de cada disciplina y/o
                            especialidad, lo cual, le permitirá desempeñar funciones con un pleno y actualizado
                            dominio de sus quehaceres dentro de la institución.</p>

                        <div class="container">
                            <label for="sixth_others" class="mb-3">¿Cuáles cursos considera necesarios para
                                potencializar el desarrollo académico-
                                administrativo? </label>
                            <textarea class="form-control" id="sixth_others" name="sixth_others" rows="4" cols="50"
                                maxlength="250" placeholder="Escriba aquí el/los curso(s)..."></textarea>
                        </div>

                    </div>
                    <hr>

                    <div class="row mb-2 questions"> <!-- DIMENSIÓN CULTURA ORGANIZACIONAL --> <!-- questions[6] -->
                        <p class="sub">C. CULTURA ORGANIZACIONAL</p>
                        <p class="textj">Esta dimensión tiene como finalidad situar al personal de la Institución en un
                            marco
                            de Políticas, Objetivos, Reglamentos, Procedimientos y Valores. En este sentido, se
                            espera que la Misión y Visión del Instituto se proyecte a los diferentes sectores
                            sociales y empresariales de nuestra región, en busca de la credibilidad y confianza
                            como parte de nuestra Responsabilidad social.</p>

                        <label>
                            <input type="checkbox" id="check_seventh_question_1" value="Normas de calidad" name="seventh_question" />
                            Normas de Calidad.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_2" value="Administración de operaciones" name="seventh_question" />
                            Administración de Operaciones.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_3" value="Control de producción" name="seventh_question" />
                            Control de Producción.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_4" value="Administración" name="seventh_question" />
                            Administración.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_5" value="Contabilidad" name="seventh_question" />
                            Contabilidad.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_6" value="Prevención de riesgos" name="seventh_question" />
                            Prevención de Riesgos.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_7" value="Marketing" name="seventh_question" />
                            Marketing.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_8" value="Inventarios" name="seventh_question" />
                            Inventarios.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_9" value="Cultura ITESCA" name="seventh_question" />
                            Cultura ITESCA.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_10" value="Normas internacionales de calidad" name="seventh_question" />
                            Normas Internacionales de Contabilidad.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_11" value="Recursos humanos" name="seventh_question" />
                            RR.HH.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_12" value="Ventas" name="seventh_question" />
                            Ventas.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_13" value="Estrategia administrativa" name="seventh_question" />
                            Estrategia Administrativa.
                        </label>
                        <label>
                            <input type="checkbox" id="check_seventh_question_14" value="Otro" name="seventh_question" />
                            Otro.
                        </label>

                        <div class="container">
                            <label for="seventh_others" class="mb-3">En caso de elegir otro, ¿Cuál otro tema? </label>
                            <textarea class="form-control" id="seventh_others" name="seventh_others" rows="4" cols="50"
                                maxlength="250" placeholder="Escriba aquí el tema..."></textarea>
                        </div>
                    </div>
                    <hr>


                    <p></p>

                    <div class="row mb-2 questions"> <!-- OTROS CURSOS DE CAPACITACIÓN--> <!-- questions[7] -->
                        <p class="sub">D. OTROS CURSOS DE CAPACITACIÓN</p>
                        <div class="container">
                            <label for="eighth_others" class="mb-3 textj">Especifique otros cursos de capacitación que
                                considere necesarios para el
                                desarrollo de sus actividades y del personal a su cargo, y que hayan sido
                                contemplados anteriormente. </label>
                            <textarea class="form-control" id="eighth_others" name="eighth_others" rows="4" cols="50"
                                maxlength="250" placeholder="Escriba aquí el tema..."></textarea>
                        </div>
                    </div>
                    <!-- BOTÓN GUARDAR -->
                    <div class="row d-flex flex-column mt-5">
                        <div class="col-12">
                            <div class="container" style="display: flex; justify-content: right;">
                                <button id="button_guardar" type="button" onclick="add_DNC();" class="btn btn_generic btn-primary"
                                    style="margin-left: 2%;">Guardar</button>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
        
{% endblock %}

{% block scripts %}
<script type="text/javascript"> 
    dnc = {
        user: 1,
        questions: [
        {
            question_id: 1,
            answer:[]
        },
        {
            question_id: 2,
            answer:[]
        },
        {
            question_id: 3,
            answer:[]
        },
        {
            question_id: 4,
            answer:[]
        },
        {
            question_id: 5,
            answer:[]
        },
        {
            question_id: 6,
            answer:[]
        },
        {
            question_id: 7,
            answer:[]
        },
        {
            question_id: 8,
            answer:[]
        }]
    }
    function add_DNC(){
        //var first_question = $("#check_first_question_1").val();
        const questions = document.getElementsByClassName("questions");
        console.log(questions.length);
        for(let i=0; i < questions.length; i++){
            if(i==5 || i==7){ // DESARROLLO ACADÉMICO-ADMINISTRATIVO U OTROS CURSOS DE CAPACITACIÓN (SÓLO TIENEN UN TEXTAREA)
                console.log(`i = ${i}`);
                console.log(questions[i].getElementsByTagName("textarea")[0].value);
                dnc.questions[i].answer.push( questions[i].getElementsByTagName("textarea")[0].value );
            }else{
                if(i==0 || i==2){ // HORARIO O ÉTICA (SÓLO TIENEN CHECKBOXES)
                    const inputs = questions[i].getElementsByTagName("input");
                    for(let j=0; j < inputs.length; j++){
                        if (inputs[j].checked){
                            dnc.questions[i].answer.push( inputs[j].value );
                        }
                    
                    }
                }else{ //LAS DEMÁS PREGUNTAS (CHECKBOX Y UN TEXTAREA AL FINAL)
                    const inputs = questions[i].getElementsByTagName("input") //Arreglo de inputs
                    for(let j=0; j < inputs.length; j++){
                        if(j==inputs.length-1){ // SI ES EL ÚLTIMO CHECKBOX OSEA EL DE "OTRO"
                            if(inputs[j].checked){ //SI EL ÚLTIMO CHECKBOX ESTÁ "CHECKED"
                                dnc.questions[i].answer.push( questions[i].getElementsByTagName("textarea")[0].value );//SE AGREGA EL TEXTAREA AL ARREGLO DE ANSWERS
                            }
                            
                        }else{
                            if (inputs[j].checked){
                                dnc.questions[i].answer.push( inputs[j].value );
                            }
                        }
                    }
                    
                }   

            }
            
        }
        console.log(JSON.stringify(dnc));
        $.ajax({
            url: "../sca/add_dnc",
            data: JSON.stringify(dnc),
            type: "POST",
            success: function success(){
                document.location.href='../sca/show_dnc'
            }
        });
    }

</script>
{% endblock %}