{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %} Page title {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="\static\CSS\menu_CSS.css" type="text/css">
  <link rel="stylesheet" href="\static\CSS\general.css" type="text/css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com/" >
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  {% block css_links%} {% endblock %}
</head>

<body class="row p-0 m-0">
  <!--SIDE MENU-->
  <div class="col-12 col-md-1 blue_background menu_container p-0">
    <div class="row menu_controller col-6 col-md-12 ">
      <!--MENU CONTROLER-->
      <a class="btn col-6 col-md-12 m-0 p-0 py-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        <img src="\static\Images\Side_menu\menu_btn.png" width="48px" height="48px">
      </a>
    </div>
    <div class="row menu_element">
      <a class=" mx-0 px-0 d-none d-md-inline btn py-3" href="/sca/show_invitations">
        <img src="\static\Images\Side_menu\correo.png" width="40px" height="40px"><br>
        <p class="py-1 my-0">Invitaciones</p>
      </a>
    </div>
    <div class="row menu_element">
      <a class="btn mx-0 px-0 d-none d-md-inline py-3" href="/sca/training_plan">
        <img src="\static\Images\Side_menu\plan_capacitacion.png" width="40px" height="40px"><br>
        <p class="py-1 my-0">Plan de<br>capacitación</p>
      </a>
    </div>
    {% if user_type == "Administrador" %}
    <div class="row menu_element">
      <a class=" mx-0 px-0 d-none d-md-inline btn py-3" href="/sca/show_user">
        <img src="\static\Images\Side_menu\usuarios.png" width="48px" height="48px"><br>
        <p class="py-1 my-0">Usuarios</p>
      </a>
    </div>
    {% endif%}
    <div class="row menu_element">
      <a class="btn mx-0 px-0 d-none d-md-inline py-3" href="/sca/training_history_redirect">
          <img src="\static\Images\Side_menu\capacitacion.png" width="40px" height="40px" alt="Capacitaciones"><br>
        <p class="py-1 my-0">Capacitaciones</p>
      </a>
    </div>
    {%if user_type == "Administrador"%}
    <!--<div class="row menu_element">
      <a class=" mx-0 px-0 d-none d-md-inline btn py-3" href="/sca/certificates">
        <img src="\static\Images\Side_menu\constancias.png" width="40px" height="40px"><br>
        <p class="py-1 my-0">Constancias</p>
      </a>
    </div>-->
    {% endif%}
    {%if user_type == "Administrador"%}
    <div class="row menu_element">
      <a class=" mx-0 px-0 d-none d-md-inline btn py-3" href="/sca/evaluations">
        <img src="\static\Images\Side_menu\evaluaciones.png" width="48px" height="48px"><br>
        <p class="py-1 my-0">Evaluaciones</p>
      </a>
    </div>
    {%endif%}
    {%if user_type == "Administrador"%}
    <div class="row menu_element">
      <a class=" mx-0 px-0 d-none d-md-inline btn py-3" href="/sca/show_dnc">
        <img src="\static\Images\Side_menu\dnc.png" width="40px" height="40px"><br>
        <p class="py-1 my-0">DNC</p>
      </a>
    </div>
    {% endif%}
    {%if user_type == "Jefe de departamento"%}
    <div class="row menu_element">
      <a class=" mx-0 px-0 d-none d-md-inline btn py-3" href="/sca/capacitation_needs_detection">
        <img src="\static\Images\Side_menu\dnc.png" width="40px" height="40px"><br>
        <p class="py-1 my-0">DNC</p>
      </a>
    </div>
    {% endif%}
    <div class="row menu_element">
      <a class=" mx-0 px-0 d-none d-md-inline btn py-3" href="/sca/logout_user">
        <img src="\static\Images\Side_menu\encender.png" width="40px" height="40px"><br>
        <p class="py-1 my-0">Log out</p>
      </a>
    </div>
  </div>
  <div class="col-12 col-md-11 ">
    <div class="row user_bar d-none d-md-flex">
    </div>
    <div class="row page_content px-2 py-0 my-0">
      <div class="content_block mt-5">
        {% block content%}
        <h2 class="blue_color">Esta página web </h2>
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-start blue_background px-1 mx-0" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">SCA</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0 m-0">
      <div class= "row offcanvas-container px-0 mx-0 menu_element">
        <a class="col-4 pb-4 mx-0 px-0 btn align-items-center" href="/sca/show_invitations">
          <img src="\static\Images\Side_menu\correo.png" width="40px" height="40px"><br>
          <p class="pb-1 my-0">Invitaciones</p>
        </a>
          <a class="col-4 pb-4 mx-0 px-0 btn align-items-center" href="/sca/training_plan">
            <img src="\static\Images\Side_menu\plan_capacitacion.png" width="40px" height="40px"><br>
            <p class="pb-1 my-0">Plan de<br>capacitación</p>
          </a>
        {% if user_type == "Administrador" %}
          <a class="col-4 pb-4 mx-0 px-0 btn align-items-center" href="/sca/show_user">
            <img src="\static\Images\Side_menu\usuarios.png" width="48px" height="48px"><br>
            <p class="pb-1 my-0">Usuarios</p>
          </a>
        {% endif%}
          <a class="col-4 pb-4 mx-0 px-0 btn align-items-center" href="/sca/training_history_redirect">
              <img src="\static\Images\Side_menu\capacitacion.png" width="40px" height="40px" alt="Capacitaciones"><br>
            <p class="pb-1 my-0">Capacitaciones</p>
          </a>
        {%if user_type == "Administrador"%}
          <!--<a class="col-4 pb-4 mx-0 px-0 btn align-items-center" href="/sca/certificates">
            <img src="\static\Images\Side_menu\constancias.png" width="40px" height="40px"><br>
            <p class="pb-1 my-0">Constancias</p>
          </a>-->
        {% endif%}
        {%if user_type == "Administrador"%}
          <a class="col-4 pb-4 mx-0 px-0 btn align-items-center" href="/sca/evaluations">
            <img src="\static\Images\Side_menu\evaluaciones.png" width="48px" height="48px"><br>
            <p class="pb-1 my-0">Evaluaciones</p>
          </a>
        {%endif%}
        {%if user_type == "Administrador"%}
          <a class="col-4 pb-4 mx-0 px-0 btn align-items-center" href="/sca/show_dnc">
            <img src="\static\Images\Side_menu\dnc.png" width="40px" height="40px"><br>
            <p class="pb-1 my-0">DNC</p>
          </a>
        {% endif%}
        {%if user_type == "Jefe de departamento"%}
          <a class="col-4 pb-4 mx-0 px-0 btn align-items-center" href="/sca/capacitation_needs_detection">
            <img src="\static\Images\Side_menu\dnc.png" width="40px" height="40px"><br>
            <p class="pb-1 my-0">DNC</p>
          </a>
        {% endif%}
      </div>
    </div>
    <div class="row text-end">
      <div class="col-8"></div>
      <a class="col-4 pb-4 mx-0 px-0 btn" href="/sca/logout_user">
        <img src="\static\Images\Side_menu\apagar.png" width="48px" height="48px"><br>
        <p class="">logout</p>
      </a>
    </div>
    

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  {% block scripts %}{% endblock %}

</body>
</html>