{% extends 'menu.html' %}

{% block title %}Constancias{% endblock %}
{% block css_links %}
<link rel="stylesheet" href="..\static\CSS\general.css">
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
{% endblock %}

{% block content%}
<div class="card shadow p-3  bg-body-tertiary rounded"> <!-- FILTRO -->
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h3 style="margin-bottom: 4%; margin-top: 2%; margin-left: .4%;">F I L T R O</h3>
            </div>

        </div>
        <div class="row"> <!-- r1 -->
            <div class="col-md-6 col-12">
                <div class="mb-3 container">
                    <label for="input_name" class="form-label">Nombre de la capacitación</label>
                    <input maxlength="25" onKeyPress="if(this.value.length==25) return false;" type="text"
                        class="form-control" id="input_name" placeholder="Nombre de la capacitación">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="mb-3 container">
                    <label for="select_modality" class="form-label">Modalidad</label>
                    <select class="form-select mb-3" id="select_modality" required>
                        <option selected>Seleccionar</option>
                        <option value="1">Virtual</option>
                        <option value="2">Presencial</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- ROW 5 ONLY FOR CANCEL AND REGISTER BUTTONS-->
        <div class="row d-flex flex-column">
            <div class="col-12">
                <div class="container-fluid" style="display: flex; justify-content: right; ">
                    <button id="button_filtrar" type="button" class="btn">FILTRAR</button>
                    <button id="button_cancelar" type="button" class="btn" style="margin-left: 2%;">BORRAR</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CERTIFICATES TABLE -->
<div class="card container-fluid bg-body-tertiary table-responsive shadow mt-5">
    <div class="col mt-3 mb-3 d-flex justify-content-center">
        <button id="button_gen_report" type="button" class="btn me-5 ms-auto ">GENERAR REPORTE</button>
    </div>
    <table class="table aling-middle table-striped table-hover align-self-center" id="table-users">
        <thead>
            <tr>
                <th scope="col">CAPACITACIÓN</th>
                <th class="text-center" scope="col">MODALIDAD</th>
                <th class="text-center" scope="col">VER CONSTANCIAS </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>Fundamentos de Excel</td>
                <td class="text-center">Virtual</td>
                <td class="text-center">
                    <button type="button" class="btn mt-1" id="button_ver_detalles"><img
                            src="..\static\Images\ver-detalles.png" width="24px" height="24px" alt="Inicio"></button>
                    </button>
                </td>
            </tr>

            <tr>
                <td>Derechos de Género</td>
                <td class="text-center">Presencial</td>
                <td class="text-center">
                    <button type="button" class="btn mt-1" id="button_ver_detalles"><img
                            src="..\static\Images\ver-detalles.png" width="24px" height="24px" alt="Inicio"></button>
            </tr>

            <tr>
                <td>Habilidades para el trabajo</td>
                <td class="text-center">Presencial</td>
                <td class="text-center">
                    <button type="button" class="btn mt-1" id="button_ver_detalles"><img
                            src="..\static\Images\ver-detalles.png" width="24px" height="24px" alt="Inicio"></button>
                </td>
            </tr>

            <tr>
                <td>Convivencia social</td>
                <td class="text-center">Virtual</td>
                <td class="text-center">
                    <button type="button" class="btn mt-1" id="button_ver_detalles"><img
                            src="..\static\Images\ver-detalles.png" width="24px" height="24px" alt="Inicio"></button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
{% endblock%}