{% extends 'menu.html' %}

  {% block title %}Asistencia{% endblock %}
  {% block css_links %}
    <link rel="stylesheet" href="..\static\CSS\general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/" >
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  {% endblock %}

  {% block content%}
  <div class="card shadow p-3 bg-body-tertiary rounded"> <!-- FILTRO -->
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3 style="margin-bottom: 4%; margin-top: 2%; margin-left: 1%;">F I L T R O</h3>
        </div>
  
      </div>
      <div class="row"> <!-- r1 -->
        <div class="col-md-4 col-12">
          <div class="mb-3 container">
            <label for="input_name" class="form-label">Nombre</label>
            <input maxlength="25" onKeyPress="if(this.value.length==25) return false;" type="text" class="form-control"
              id="input_name" placeholder="Nombre">
          </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Asistió
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              No Asistió
            </label>
        </div>
      </div>
  
     
      
      
    </div>
  </div>
  
  <!-- ATTENDEES TABLE -->
  <div class="card container-fluid bg-body-tertiary table-responsive shadow mt-5">
    <div class="col mt-3 mb-3 d-flex">
      <button id="button_gen_report" type="button" class="btn me-5 ms-auto ">GENERAR REPORTE</button>
    </div>
    <table class="table aling-middle table-striped table-hover align-self-center">
      <thead >
        <tr>
          <th scope="col">NOMBRE</th>
          <th scope="col">ASISTENCIA</th>
          <th scope="col">MODIFICAR ASISTENCIA  </th>
        </tr>
      </thead>
      <tbody class="table-group-divider" >
        <tr>
          <td>Gina Pacheco</td>
          <td>Asistió</td>
          <td >
            <button type="button" class="btn mt-1" style="background-color: #4F6BFF; margin-left: 10%;"> </button>
          </td>
         
        </tr>

        <tr>
            <td>Rafael Valenzuela</td>
            <td>No asistió</td>
            <td >
              <button type="button" class="btn mt-1" style="background-color: #4F6BFF; margin-left: 10%;"> </button>
            </td>
          
          </tr>

          <tr>
            <td>Valeria Ibarra</td>
            <td>Asistió</td>
            <td >
              <button type="button" class="btn mt-1" style="background-color: #4F6BFF; margin-left: 10%;"> </button>
            </td>
          
          </tr>
  
      </tbody>
    </table>
  </div>
{% endblock%}