{% extends 'menu.html' %}

{% block title %}Evaluacion eventos capacitacion{% endblock %}
{% block css_links %}
<link rel="stylesheet" href="../static/CSS/general.css"> {% endblock %}


{% block content%}
<div class="container ">
    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-top: 3%;">
        <div class="card-body">
            <h3 style="margin-bottom: 4%; margin-top: 2%; margin-left: 1%;">EVALUACIÓN DE EVENTOS DE CAPACITACIÓN</h5>
                <!-- ROW 1 FOR FIRST NAME, APELLIDO PATERNO Y MATERNO-->
                <div class="row mb-5">
                    <p>Por favor responda el siguiente cuestionario de la manera más objetiva. Coloque un número del 1
                        al 5 considerando que uno es muy malo y 5 excelente, anote el que mejor describa su percepción
                        del evento.</p>
                </div>

                <form action="">
                    <!--QUESTION 1-->
                    <p>El instructor/a inició en los primeros 10 minutos</p>
                    <div class="row mb-2">
                        <div class="col-2">
                            <input type="radio" id="input_first_question_1" name="first_question" value="1">
                            <label for="input_first_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_first_question_2" name="first_question" value="2">
                            <label for="input_first_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_first_question_3" name="first_question" value="3">
                            <label for="input_first_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_first_question_4" name="first_question" value="4">
                            <label for="input_first_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_first_question_5" name="first_question" value="5">
                            <label for="input_first_question_5">5</label>
                        </div>
                    </div>
                    <!--QUESTION 2-->
                    <div class="row mb-2">
                        <p>Se presentó el objetivo y programa</p>
                        <div class="col-2">
                            <input type="radio" id="input_second_question_1" name="second_question" value="1">
                            <label for="input_second_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_second_question_2" name="second_question" value="2">
                            <label for="input_second_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_second_question_3" name="second_question" value="3">
                            <label for="input_second_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_second_question_4" name="second_question" value="4">
                            <label for="input_second_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_second_question_5" name="second_question" value="5">
                            <label for="input_second_question_5">5</label>
                        </div>
                    </div>
                    <!--QUESTION 3-->
                    <div class="row mb-2">
                        <p>La explicación fue clara y completa</p>
                        <div class="col-2">
                            <input type="radio" id="input_third_question_1" name="third_question" value="1">
                            <label for="input_third_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_third_question_2" name="third_question" value="2">
                            <label for="input_third_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_third_question_3" name="third_question" value="3"> 
                            <label for="input_third_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_third_question_4" name="third_question" value="4">
                            <label for="input_third_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_third_question_5" name="third_question" value="5">
                            <label for="input_third_question_5">5</label>
                        </div>
                    </div>
                    <!--QUESTION 4-->
                    <div class="row mb-2">
                        <p>El instructor/a domina el tema</p>
                        <div class="col-2">
                            <input type="radio" id="input_fourth_question_1" name="fourth_question" value="1">
                            <label for="input_fourth_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_fourth_question_2" name="fourth_question" value="2">
                            <label for="input_fourth_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_fourth_question_3" name="fourth_question" value="3">
                            <label for="input_fourth_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_fourth_question_4" name="fourth_question" value="4">
                            <label for="input_fourth_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_fourth_question_5" name="fourth_question" value="5">
                            <label for="input_fourth_question_5">5</label>
                        </div>
                    </div>
                    <!--QUESTION 5-->
                    <div class="row mb-2">
                        <p>El instructor/a solucionó las dudas</p>
                        <div class="col-2">
                            <input type="radio" id="input_fifth_question_1" name="fifth_question" value="1">
                            <label for="input_fifth_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_fifth_question_2" name="fifth_question" value="2">
                            <label for="input_fifth_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_fifth_question_3" name="fifth_question" value="3">
                            <label for="input_fifth_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_fifth_question_4" name="fifth_question" value="4">
                            <label for="input_fifth_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_fifth_question_5" name="fifth_question" value="5">
                            <label for="input_fifth_question_5">5</label>
                        </div>
                    </div>
                    <!--QUESTION 6-->
                    <div class="row mb-2">
                        <p>Si hubo servicio de cafetería este fue</p>
                        <div class="col-2">
                            <input type="radio" id="input_sixth_question_1" name="sixth_question" value="1">
                            <label for="input_sixth_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_sixth_question_2" name="sixth_question" value="2">
                            <label for="input_sixth_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_sixth_question_3" name="sixth_question" value="3">
                            <label for="input_sixth_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_sixth_question_4" name="sixth_question" value="4">
                            <label for="input_sixth_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_sixth_question_5" name="sixth_question" value="5">
                            <label for="input_sixth_question_5">5</label>
                        </div>
                    </div>
                    <!--QUESTION 7-->
                    <div class="row mb-2">
                        <p>La exposición fue interesante y amena</p>
                        <div class="col-2">
                            <input type="radio" id="input_seventh_question_1" name="seventh_question" value="1">
                            <label for="input_seventh_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_seventh_question_2" name="seventh_question" value="2">
                            <label for="input_seventh_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_seventh_question_3" name="seventh_question" value="3">
                            <label for="input_seventh_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_seventh_question_4" name="seventh_question" value="4">
                            <label for="input_seventh_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_seventh_question_5" name="seventh_question" value="5">
                            <label for="input_seventh_question_5">5</label>
                        </div>
                    </div>
                    <!--QUESTION 8-->
                    <div class="row mb-2">
                        <p>Se brindó el material adecuado a los participantes</p>
                        <div class="col-2">
                            <input type="radio" id="input_eigth_question_1" name="eigth_question" value="1">
                            <label for="input_eigth_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_eigth_question_2" name="eigth_question" value="2">
                            <label for="input_eigth_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_eigth_question_3" name="eigth_question" value="3">
                            <label for="input_eigth_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_eigth_question_4" name="eigth_question" value="4">
                            <label for="input_eigth_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_eigth_question_5" name="eigth_question" value="5">
                            <label for="input_eigth_question_5">5</label>
                        </div>
                    </div>
                    <!--QUESTION 9-->
                    <div class="row mb-2">
                        <p>La presentación y apoyos fueron adecuados</p>
                        <div class="col-2">
                            <input type="radio" id="input_ninth_question_1" name="ninth_question" value="1">
                            <label for="input_ninth_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_ninth_question_2" name="ninth_question" value="2">
                            <label for="input_ninth_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_ninth_question_3" name="ninth_question" value="3">
                            <label for="input_ninth_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_ninth_question_4" name="ninth_question" value="4">
                            <label for="input_ninth_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_ninth_question_5" name="ninth_question" value="5">
                            <label for="input_ninth_question_5">5</label>
                        </div>
                    </div>
                    <!--QUESTION 10-->
                    <div class="row mb-2">
                        <p>El lugar fue adecuado y confortable</p>
                        <div class="col-2">
                            <input type="radio" id="input_tenth_question_1" name="tenth_question" value="1">
                            <label for="input_tenth_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_tenth_question_2" name="tenth_question" value="2">
                            <label for="input_tenth_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_tenth_question_3" name="tenth_question" value="3">
                            <label for="input_tenth_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_tenth_question_4" name="tenth_question" value="4">
                            <label for="input_tenth_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_tenth_question_5" name="tenth_question" value="5">
                            <label for="input_tenth_question_5">5</label>
                        </div>
                    </div>
                    <!--QUESTION 11-->
                    <div class="row mb-2">
                        <p>La organización del evento fue</p>
                        <div class="col-2">
                            <input type="radio" id="input_eleventh_question_1" name="eleventh_question" value="1">
                            <label for="input_eleventh_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_eleventh_question_2" name="eleventh_question" value="2">
                            <label for="input_eleventh_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_eleventh_question_3" name="eleventh_question" value="3">
                            <label for="input_eleventh_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_eleventh_question_4" name="eleventh_question" value="4">
                            <label for="input_eleventh_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_eleventh_question_5" name="eleventh_question" value="5">
                            <label for="input_eleventh_question_5">5</label>
                        </div>
                    </div>
                    <!--QUESTION 12-->
                    <div class="row mb-4">
                        <p>Mi participación en el desarrollo del curso fue</p>
                        <div class="col-2">
                            <input type="radio" id="input_twelfth_question_1" name="twelfth_question" value="1">
                            <label for="input_twelfth_question_1">1</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_twelfth_question_2" name="twelfth_question" value="2">
                            <label for="input_twelfth_question_2">2</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_twelfth_question_3" name="twelfth_question" value="3">
                            <label for="input_twelfth_question_3">3</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_twelfth_question_4" name="twelfth_question" value="4">
                            <label for="input_twelfth_question_4">4</label>
                        </div>
                        <div class="col-2">
                            <input type="radio" id="input_twelfth_question_5" name="twelfth_question" value="5">
                            <label for="input_twelfth_question_5">5</label>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="input_comments" class="mb-3">Comentarios y sugerencias del grupo</label>
                        <textarea id="input_comments" name="comments" rows="4" cols="50" maxlength="250" placeholder="Escriba aqui tus comentarios y sugerencias..."></textarea>
                    </div>
                    <div class="row d-flex flex-column mt-5">
                        <div class="col-12">
                            <div class="container" style="display: flex; justify-content: right;">
                                <button id="button_cancelar" type="button" class="btn btn-danger">Cancelar</button>
                                <button id="button_registrar" type="button" class="btn btn-primary" style="margin-left: 2%;">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>-->
{% endblock %}`